.Product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  box-shadow: 10px 10px 0px 0px darkblue;
  background-color: rgb(255, 255, 255);
  border-top: 10px solid darkblue;
  border-left: 10px solid darkblue;
  transition: 0.5s;
  &:hover {
    box-shadow: 10px 10px 20px darkblue;
    border: 0px solid transparent;
    transform: translate(-10px, -10px);
  }
  >img {
    width: 100%;
    padding: 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    h2 {
      color: darkblue;
    }
    
    .category {
      color: darkgray;
    }

    .card_bottom {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        color: green;
        font-weight: bold;
      }
      .heart {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
